*{
    padding: 0%;
    margin: 0%;
 
}

.footer{
    margin-top: 2rem;
    height: 30%;
    width: 100%;
    background-color:#C1CEBD;
    display: flex;
padding-bottom: 5rem;

    h1{
        padding-top: 6rem;
        padding-left: 8rem;
        font-size: 3rem;
        color: rgb(8, 8, 92);
    }
    .f1{
        padding-top: 6rem;
        line-height: 1.7rem;
        padding-left: 24rem;
    }
    .f2{
        padding-top: 6rem;        
        line-height: 1.7rem;
        padding-left: 4rem;
    }
}



